<!doctype html>
<html ng-app="BmApp" ng-csp>
  <head>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <title>BM++</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-controller="BookMarksCtrl">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <div class="sidebar">
          <h2>BM++ </h2>
          <small>Beause the original extension sucks.</small>
          <form>
          <h3>Search</h3>
            <div class="form-group">
              <input type="text" ng-model="searchQuery" ng-change="searchBookmarks(searchQuery)" class="form-control" placeholder="Title or URL">
            </div>
          </form><!-- End of search form -->
          <form>
          <h3>Sort</h3>
            <div class="form-group">
              <select ng-model="SortBy.attr" class="form-control">
                <option value="">--Please choose--</option>
                <option value="dateAdded">Date</option>
                <option value="title">Title</option>
                <option value="url">Url</option>
                <option value="parentId">Folder</option>
              </select>
              <select ng-model="SortBy.direction" class="form-control">
                <option value="">--ASC or DSC--</option>
                <option value="asc">Ascending</option>
                <option value="dsc">Descending</option>
              </select>
            </div>
            <div class="form-group">
              <a class="btn btn-primary" ng-click="sortCachedBm()">Sort</a>
            </div>
          </form><!-- End of search form -->
          <form id="editBookMarkForm" name="editBookMarkForm">
            <h3>Edit/Add Bookmark</h3>
            <div class="form-group">
              <input type="text" ng-model="Bookmark.title" class="form-control" placeholder="Title" ng-required="true">
              <input type="hidden" ng-model="Bookmark.id">
            </div>
            <div class="form-group">
              <input type="url" ng-model="Bookmark.url" class="form-control" placeholder="URL" ng-required="true">
            </div>
            <div class="form-group">
              <button ng-click="updateBookmark(Bookmark,$event)" class="btn btn-success">Update</button>
            </div>
          </form><!-- End of Edit Form -->
          <br>
          <h4>Links</h4>
          <a href="about.html">About this extension.</a>
          <br>
          <a href="mailto:rami.g.b@gmail.com" title="">E-mail the author</a>
          <br>

        </div> <!-- End of sidebar -->
      </div> <!-- End of sidebar container -->
      <div class="col-sm-10 selected_info" ng-if="getSelected().length">
        <small>Selected : {{getSelected().length}}</small>
        <a ng-click="deleteSelected()" class="btn btn-xs btn-danger">Delete</a>
        <a ng-click="deSelectAll()" class="btn btn-xs btn-primary">Deselect</a>
        <a ng-click="selectAll()" class="btn btn-xs btn-success">Select All Items</a>
      </div><!-- End of selected info -->
      <div class="col-sm-10 bookmarks">
        <div class="bookmark" id="bookmark_{{bookmark.id}}" ng-repeat="bookmark in bookmarks | startFrom:currentPage*pageSize | limitTo:pageSize">
          <input type="checkbox" ng-model="bookmark.Selected">
          <img ng-src="chrome://favicon/{{bookmark.url}}">
          <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
          <div class="button-group pull-right">
            <a ng-click="removeBookmark(bookmark,$event)" class="btn btn-xs btn-danger ">Delete</a>
            <a ng-click="editBookmark(bookmark)" class="btn btn-xs btn-success ">Edit</a>
          </div>
          <div class="row bookmark_info">
            <div class="col-sm-12">
              <span><span class="label label-info">Folder</span> : {{bookmark.parentId | findParent}}</span>
              <span><span class="label label-info">Added</span> : {{bookmark.dateAdded | date}}</span>
              <span><span class="label label-info">URL</span> : {{bookmark.url | shorten}}</span>
            </div>
          </div>
          </div><!-- End of Bookmarks -->
        </div>
      </div>
      <footer>
        <label>Per Page:</label>
        <input type="text" ng-model="pageSize">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
        </button>
        <small>Total Bookmarks : {{bookmarks.length}}</small>
        <small class="pull-right"><a href="about.html" title="About">Rami GB</a> - 2014</small>
      </footer>
      <!-- build:js scripts/vendor.js -->
      <!-- bower:js -->
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:js scripts/options.js -->
      <script src="scripts/jquery.js"></script>
      <script src="scripts/options.js"></script>
      <script src="scripts/underscore-min.js"></script>
      <script src="scripts/angular.min.js"></script>
      <script src="scripts/ang-app.js"></script>
      <!-- endbuild -->
    </body>
  </html>