@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}

.selected_info{
  padding:15px 0 0 25px;
}

.bookmarks{
  padding-top: 10px;
}

.bookmark{
  margin-bottom: 10px;
  padding: 10px;
}

.bookmark:hover{
  background: #eee;
}

.bookmark_info{
  font-size:10px;
}

.sidebar{
}

footer{
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  padding:5px;
  border-top:1px solid #eee;
}